* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
--------------
HEADER
-------------- 
*/

header {
  background-color: #e8e4e6;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

header .sx {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .dx {
  display: flex;
  align-items: center;
  gap: 20px;
}

select {
  border-radius: 10px;
  padding: 3px 10px;
}

.btn-play {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #f9bc60;
}

/*
--------------
MAIN 
-------------- 
*/
main {
  flex-grow: 1;
  background-color: #004643;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial-main h3,
.initial-main h2 {
  color: #e8e4e6;
  text-align: center;
}
.initial-main h3 {
  margin-top: 20px;
}
.initial-main h2 {
  color: #e16162;
}

.board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  cursor: pointer;
}

.cell-facile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% / 10);
  width: calc(100% / 10);
  border: 1px solid black;
}

.cell-normale {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% / 9);
  width: calc(100% / 9);
  border: 1px solid black;
}

.cell-difficile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% / 7);
  width: calc(100% / 7);
  border: 1px solid black;
}

.cell:hover {
  cursor: pointer;
}

.active-cell {
  background-color: #3da9fc;
}

/*
--------------
FOOTER
-------------- 
*/
footer {
  padding: 15px;
  background-color: #001e1d;
  color: #72757e;
}

footer span {
  color: red;
}

.hidden {
  display: none;
}

.show {
  opacity: 1;
}
